/* Reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* General */
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}
html{
   
}
body{    
    font-family: 'Open Sans', sans-serif;    
    scroll-behavior: smooth;
    min-width: 1150px;
    color: #23272a;
    font-size: 20px;
}
.left{
    float: left;
}
.right{
    float: right;
}
div img{
    width: 100%;
   
}
div .right-column img{
    width: 100%;
    min-width: 600px;
    max-width: 800px;
}

/* header */
header{
    height: 700px;
    width: 100%;
    line-height: 60px;
    background-color: #b4d0e7;
}
section article{
    height: 250px;
}

#jumbotron{
    width: 85%;
    margin: 0 auto;
    padding-top: 150px; 
}
header p {
    line-height: 25px;
}
.jumbo-image{
    position: relative;
    padding-top: 50px;
}
/* / Header */


/* NavBar */
nav .logo img{
    width: 100px;
    vertical-align: middle;
}
nav .logo{
    padding-left: 20px;
    width: 150px;
}
nav{
    z-index: 1000;
    min-width: 1000px;
    background-color: white;
    width: 100%;
    position: fixed;
}
nav ul li{
    display: inline-block;

}
nav li a{
    text-decoration: none;
    color: black;
}
nav ul:nth-child(3){
    text-align: right;
}
nav ul{
    font-size: 16px;

 }
nav li{
    padding-right: 20px;
    list-style-type: none;
}

nav li a:hover{
    color: rgb(0, 47, 255);
}
nav li a:active{
    background-color: #dedede;
}

/* / NavBar */

/* main */
main{
    width: 100%;
    padding-top:200px;
}
.container-width{
    width: 80%;
    margin: 0 auto;
}

.debug{
   border: 1px solid black;
}
/* /Main */

/* Buttons */
.btn {
    display: inline-block;
    border-radius: 2px;
    background-color:#0061ff;
    color: #fff;
    text-decoration: none;
    padding: 10px 20px;
    font-size: 15px;
    line-height: 15px;
}

.Check{
    color: blue;
    line-height: 30px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 20px;
    font-size: 18px;
    border-radius: 50%;
    margin-right: 5px;
    border: 3px solid #2d46aa;
}
.fa-arrow-down{
    padding-top: 30px;
    color: black;
    font-size:40px;
    font-weight: 600;
}
.fa-solid{
    color: black;
    font-size:40px;
    font-weight: 600;
}
.fa-pencil,
.fa-user,
.fa-folder-open{
    font-size: 15px;
  
}
.inside{
    padding:30px;
}


/* / Buttons */


section ul li{
    display: inline;
    list-style: none;
}
div ul li{
    display: block;
}
/* Box di sfondo */
.box{
    background-color: #8ea1e1;
}

/* Text Style */
h1{
    line-height: 75px;
    font-size: 60px;
}
div h2{
    padding-bottom:15px;
    font-weight: 800;
}

div .column p{
    font-weight: 500;
    font-size: 14px;
    
}
div p span{
    font-size: 14px;
    color:black;
    font-weight: bold;
    
}
div span{
    font-size: 13px;
    display: block;
 
    color:darkgrey;
}

.title-plan{
    padding: 10px;
    font-weight: 500;
    text-align: center;
    border-bottom: 1px solid black;
}
div .column ul{
    padding-bottom: 40px;
}
div .column ul li{
    font-size: 15px;
    padding-top: 20px;
}

/* / Text Style */


/* Dropdown */
.dropdown-content {
    padding: 10px;
    top: 40px;
    display: none;
    position: absolute;
    color: black;
    background-color:#ffffff;
    border-radius: 5px;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.3);
    z-index: 1;
  }
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }

  .dropdown:hover .dropbtn {
    background-color: #ffffff;
  }

  /* Image Dimension */

.column2 img{
    padding-bottom: 50px;
    width: 200px;
}


.container-section{
    width: 40%;
}
.container-square{
    min-width: 1200px;
    background-color: #dcdcdc;
    width: 100%;
}
.square img{
    filter: invert(100%);
    vertical-align: middle;
    width: 60%;
}

/* Logo box */
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.square{
    position: relative;
    width: 200px;
    height: 200px;
}
/* / Logo box */

/* Divisione in colonne */
div .left{ 
}
.column2{
    margin:0 auto;
    overflow-y: auto;
    padding: 45px;
    font-size:12px;
    width: 32%;
}

.column3{
  
    width: 34%;
}
.row{
    min-height: 900px;
    padding-top: 50px;
    width: 100%;
}

.column{
    width:30%
}

.left-column{
    width: 30%;
}
.column-central{
    width: 30%;
    margin:0 5%;
}
.left-column p{
    font-size: 15px;
}

div .partner-image{
    width: 50%;
}

.right-column{
    width: 70%;
}
footer{

}








