/* Reset */
*{
    margin: 0;
    padding:0;
    box-sizing: border-box;
}
/* General */
html{
    
    font-family: 'Rubik Mono One', sans-serif;
    scroll-behavior: smooth;
}
body{
     min-width: 938px;
     /* font whitney  helvetica hue*/
     color: #23272a;
     font-family: Whitney,Helvetica Neue,Helvetica,Arial,sans-serif;
     font-size: 20px;
}
section div img{
    width:100%;
}
.clearfix:after{
    content: '';
    display: table;
    clear: both;
}

main{
    width: 100%;
    margin-top:150px;
}
header{
    width: 100%;
}

.debug{
   border: 1px solid black;
}
.btn {
    display: inline-block;
    border-radius: 2px;
    padding: 16px 32px;
    background-color: #8ea1e1;
    color: #fff;
    text-decoration: none;
    font-size: 15px;
}

  .Check{
    color: blue;
    line-height: 30px;
    width: 20px;
    text-align: center;
    vertical-align: middle;
    display: inline-block;
    height: 20px; 
    font-size: 18px;
    border-radius: 50%;
    margin-right: 5px;
    border: 3px solid #2d46aa;
}
section ul li{
    display: inline;
    list-style: none;
}
div ul li{
    display: block;
}
.box{
    background-color: #8ea1e1;
  
}
/* Dropdown */
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }
.dropdown {
    position: relative;
    display: inline-block;
  }
  .dropdown:hover .dropdown-content {
    display: block;
  }
  
  .dropdown:hover .dropbtn {
    background-color: #3e8e41;
  }


/* main */
.container-width{
    width: 70%;
    margin: 0 auto;
}
#accedi{
    display: inline;
    float: right;
}
/* header */
header{
    line-height: 60px;
    background-color:white;
}
section article{
    height: 250px;
}

#jumbotron{
    height:620px;
    padding:120px;
    background-color: #8ea1e1;
    width: 100%;
}
header p {
    line-height: 30px;
}



/* NavBar */
nav .logo img{
    vertical-align: middle;
}
nav .logo{
    padding-left: 20px;
    width: 20%;
}
nav{
    min-width: 980px;
    background-color: white;
    width: 100%;
    position: fixed;
}
nav ul li{
    display: inline-block;
    
}
nav li a{
    text-decoration: none;
    color: black;
}
nav ul:nth-child(3){
    text-align: right;
}
nav ul{
    font-size: 16px;
   
 }
nav li{
    padding-right: 20px;
    list-style-type: none;
}
#accedi{
    text-align: right;
    width: 15%;
}
#accedi .btn{
    padding: 10px 14px;
    background-color: #fff;
    font-size: 14px;
    color: #23272a;
    display: inline;
}

nav li a:hover{
    color: red;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0,  0.5);
}
nav li a:active{
    background-color: #dedede;
}

/* / NavBar */

h1{
    font-size: 60px;
}
div img{
    width: 30%;
}
.column2{
    padding: 40px;
    font-size:12px;
    width: 30%;
    background-color: #dedede;
}



.column2 img{
    padding-bottom: 50px;
    width: 200px;
    
}
.column3{
    min-width: 200px;
    width: 34%;
}


.right-column img{
    width: 700px;

}


.container-section{
    width: 40%;
}
.container-square{
    min-width: 1200px;
    background-color: #dcdcdc;
    width: 100%;
}
.square img{
    filter: invert(100%);
    vertical-align: middle;
    width: 60%;
}
.centered{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%, -50%);
}
.square{
    position: relative;
    width: 200px;
    height: 200px;
}


.row{
    padding-top: 50px;
    width: 100%;
}
.column{
    width:30%
}   

.left-column{
    width: 33%;
}
.column-central{
    width: 30%;
    margin:0 5%;   
}
.left-column p{
    margin-top: 30px;
    font-size: 15px;
}

div .partner-image{
    width: 50%;
}
div h2 {
    width: 40%;
}

.right-column{
    margin-top:50px;
    width: 60%;
}








.left{
    float: left;
}

.right{
    float: right;
}

